* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "DejaVu Sans Mono", monospace, sans-serif;
  font-size: 12px;
  min-height: 0;
  border-radius: 4pt;
  transition: none;
}

window#waybar {
  background-color: rgba(10, 10, 10, 0.75);
  border: none;
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3F3F3F;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

#workspaces button {
  padding: 0pt 4pt;
  background-color: transparent;
  color: #ffffff;
  min-width: 16px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#workspaces button.active {
  background-color: #dbdbdb;
  color: #252525;
}

#mode {
  background-color: #64727D;
  box-shadow: inset 0 -3px #ffffff;
}

#custom-arch {
  margin-left: 8pt;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 6pt;
  color: #ffffff;
  margin: 0 1pt;
}

#window,
#workspaces {
  margin: 0 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color: #ffffff;
}

#battery {
  background-color: #1e2b76;
  color: #8899f7;
}

#battery.charging, #battery.plugged {
  color: #75ffad;
  background-color: #14572f;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #740100;
  color: #ffacab;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  background-color: #f53c3c;
  color: #ffffff;
}

#power-profiles-daemon.balanced {
  background-color: #2980b9;
  color: #ffffff;
}

#power-profiles-daemon.power-saver {
  background-color: #2ecc71;
  color: #000000;
}

label:focus {
  background-color: #000000;
}
